/* CSS extracted from https://projects.raspberrypi.org/en/projects/cats-vs-dogs/1 */
/* Extracted on: 2025-12-21T19:31:06.287Z */

/* Stylesheets found: */
/* 1. https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700;900&family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,400,0,0&display=swap */
/* 2. https://projects.raspberrypi.org/stylesheets/makecode.css */
/* 3. https://projects.raspberrypi.org/assets/index-BhjGrcCy.css */
/* 4. https://projects.raspberrypi.org/assets/Tags-B-mgSMjH.css */
/* 5. https://projects.raspberrypi.org/assets/SuccessCard-Daxsahxa.css */
/* 6. https://projects.raspberrypi.org/assets/ProjectContainer-C_RFI7gT.css */
/* 7. https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap */

/* Downloaded stylesheets: */
@import "css2"; /* 1683 bytes */
@import "makecode.css"; /* 31293 bytes */
@import "index-BhjGrcCy.css"; /* 115109 bytes */
@import "Tags-B-mgSMjH.css"; /* 5599 bytes */
@import "SuccessCard-Daxsahxa.css"; /* 2536 bytes */
@import "ProjectContainer-C_RFI7gT.css"; /* 118169 bytes */
@import "css2"; /* 768 bytes */

/* Computed CSS (all rules from page): */
@import "computed.css";
